@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro') ;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Pro', sans-serif;
    outline: none;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}

header {
    font-size: 1rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    font-family: Poppins;
    text-align: center;
}

.list {
    font-weight: 800;
    font-family: Poppins;
}

.wrapper {
    width: 100%;
    background: rgb(255, 255, 255);
    margin: 120px auto;
    max-width: 400px;
    border-radius: 5px;
    padding: 25px;
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 20px 0;
}

.inputField input {
    width: 85%;
    height: 100%;
    /* outline: none; */
    border: 1px solid black;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}

.inputField button {
    width: 60px;
    height: 100%;
    border: none;
    /* outline: none; */
    background: #8E49E8;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .todoList {
    max-height: 250px;
    overflow-y: auto;

}

.todoList li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.todoList li span {
    position: absolute;
    right: -45px;
    color: #fff;
    background: #e74c3c;
    width: 45px;
    text-align: center;
    border-radius: 40px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todoList li:hover span {
    right: 0px;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    justify-content:space-between;
    margin-top: 20px;
    align-items: center;
}

.footer button {
    border: none;
    /* outline: none; */
    background: #8E49E8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    padding: 6px 10px;
    opacity: 0.6;
    pointer-events: none;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}